<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Task List
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Task List</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card color="primary">
    <ion-card-header>
      <ion-card-title>Pohon</ion-card-title>
      <ion-card-subtitle>Alam Semesta</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content> Keindahan alam yang menakjubkan. </ion-card-content>
  </ion-card>

  <ion-card color="secondary">
    <ion-card-header>
      <ion-card-title>Kreatif</ion-card-title>
      <ion-card-subtitle>Seni dan Imajinasi</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content> Kreativitas tanpa batas dalam seni. </ion-card-content>
  </ion-card>

  <ion-card color="tertiary">
    <ion-card-header>
      <ion-card-title>Petualang</ion-card-title>
      <ion-card-subtitle>Esensi Petualangan</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content> Mengarungi dunia petualangan yang menantang. </ion-card-content>
  </ion-card>
</ion-content>